@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --dark: #2b2b2b;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.inline {
    display:inline-block;
}

.text-light {
    color: var(--light);
}

.text-gradient {
    background: linear-gradient(to right, #8e2de2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav {
    background-color: #06d0a0;
    padding: 1em 0;
    width: 100%;
}

#main {
    margin-top: 6em;
    font-family: "Barlow", sans-serif;
}